extends layout

block layout-content
  h1
    a(href="https://github.com/SubZtep/wspp") wspp
    |  stats

  include stats/connections
  include stats/memory

  //- script.
  //-   // will not use tls if the connection is not made over https
  //-   const protocol = window.location.protocol.includes('https') ? 'wss': 'ws'
  //-   console.log("lol", `${protocol}://${location.host}`)
  //-   //- const ws = new WebSocket(`${protocol}://${location.host}`);
  //-   //- ws.onmessage = function(event) {
  //-   //-   const data = JSON.parse(event.data);
  //-   //- }
